

<div class="container">
    <br>
    <br>
    <button id="increment" (click)="increment()">Increment</button>
    <br>
    <br>
    <div>
        <h3>Current Count: {{ count$ | async | json }}</h3>

        <h4>{{countInUI}}</h4>
        <h4>{{nameInUI}}</h4>
        

    </div>
    <br>
    <br>
    <button id="decrement" (click)="decrement()">Decrement</button>
    <br>
    <br>
    <button id="reset" (click)="reset()">Reset Counter</button>
    <br>
    <br>
    <button id="reset" (click)="changeName()">Change name to Mike Ross</button>
</div>